:root {
  --dark: #17141d;
  --base: #201c29;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  text-align: left;
  background-color: white;
  color: var(--base);
  padding: 1em;
  font-family: monospace;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--base);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(90deg, var(--base), var(--base) 1px, var(--dark) 0, var(--dark));
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  border-bottom: 1px solid var(--base);
  padding-bottom: 5px;
}

a {
  color: var(--base);
  text-decoration: none;
}

#settings {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  overflow-x: hidden;
}

#checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

#checkboxes div,
#checkboxes div > * {
  cursor: pointer;
}

#checkboxes input[type=checkbox] {
  margin-right: 0.5em;
}

#dropdowns {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

#dropdowns div {
  display: flex;
  flex-direction: row;
}

#dropdowns label {
  margin-right: 0.5em;
}

#dropdowns select {
  width: 100%;
  flex-grow: 1;
  padding: 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
}

#dropdowns select option {
  max-width: 350px;
  cursor: pointer;
}

#buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
}

#buttons button {
  padding: 0.5em;
  border-radius: 0.5em;
  flex: 1;
  cursor: pointer;
}