body {
  font-family: "Open Sans", sans-serif;
  background-color: #17141d;
  color: white;
  width: 90%;
}

#settings {
  overflow-x: hidden;
  width: 100%;
  padding: 0.5em;
}

body {
  text-align: left;
}

h1 {
  padding: 0.5rem;
}

div {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

div > {
  padding: 5px;
}

div > select {
  width: auto;
}

select option {
  max-width: 350px;
}

button {
  margin-top: 1em;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}