body {
  background-color: rgb(201, 155, 245);
  width: 400px;
}

#settings {
  height: 200px;
  overflow-x: hidden;
  width: 80%;
  padding: 0.5em;
}

body * {
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div {
  width: 80%;
}

div > * {
  display: flex;
  flex-direction: column;
}

div > select {
  width: auto;
}

select option {
  max-width: 350px;
}

a {
  color: white;
  text-decoration: none;
}

